/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

.slide_show_edit_vbox {
    -fx-font-family: "Kristen ITC";
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(230, 50, 50);
    -fx-border-color: rgb(200, 200, 200);
}

.page_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255,215,0);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 20px;
}

.title_view {    
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
}
.selected_title_view {    
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-background-color: rgb(255,215,0);
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
}
.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(190, 90, 90);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(250, 190, 190);
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}
.vertical_toolbar_button {
    -fx-background-color: rgb(250, 130, 130);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-background-color: rgb(240, 230, 140);
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
    -fx-padding-top: 20px;
    -fx-padding-left: 20px;
    -fx-padding-right: 20px;
    -fx-padding-botton: 20px;
}

.portfolio_toolbar_HBox {
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 20px;
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255, 255, 0);
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 20px;
}

.page_toolbar_HBox {
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 20px;
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255, 255, 0);
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 20px;
}

.dialog_box {
    -fx-font-family: "Kristen ITC";
    -fx-background-color: rgb(240, 230, 140);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-spacing: 30px;
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
}

.input_dialog_box {
    -fx-font-family: "Kristen ITC";
    -fx-background-color: rgb(240, 230, 140);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-spacing: 20px;
    -fx-padding: 20px 20px 20px 20px;
}

.language_selection {
    -fx-background-color: rgb(255, 215, 0);
}

.label {
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 20px;
    -fx-alignment: CENTER;
}

.language_VBox {
    -fx-alignment: CENTER;
    -fx-spacing: 10px;
    -fx-padding: 10px 10px 10px 10px;
}

.dialog_buttons {
    -fx-alignment: CENTER;
    -fx-padding: 10px 10px 10px 10px;
}

.slide_edit_pane {
    -fx-background-color: rgb(255, 215, 0);
}

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255, 255, 0);
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 20px;
}

.slide_show_toolbar_HBox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255, 255, 0);
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 20px;
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(204, 204, 0);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-thickness: 10px;
    -fx-spacing: 30px;
}

.slide_edit_view_HBox {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(240, 230, 140);
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 30px;
}

.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255,215,0);
    -fx-border-color: rgb(255, 0, 0);
    -fx-border-thickness: 60px;
    -fx-spacing: 30px;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(153, 153, 0);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-thickness: 30px;
}

