/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Rahul S Agasthya
 */

.language_selection {
    -fx-background-color: rgb(255, 215, 0);
}

.label {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
    -fx-alignment: CENTER;
}

.language_VBox {
    -fx-alignment: CENTER;
    -fx-spacing: 10px;
    -fx-padding: 10px 10px 10px 10px;
}

.dialog_HBox {
    -fx-alignment: CENTER;
    -fx-spacing: 10px;
    -fx-padding: 30px 30px 30px 30px;
}

.dialog_buttons {
    -fx-alignment: CENTER;
    -fx-padding: 10px 10px 10px 10px;
}

.slide_edit_pane {
    -fx-background-color: rgb(255, 215, 0);
}

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255, 255, 0);
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 20px;
}

.slide_show_toolbar_HBox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255, 255, 0);
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 20px;
}

.slide_edit_view {
    -fx-background-radius: 30.0;
    -fx-background-color: rgb(204, 204, 0);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.slide_edit_view_HBox {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(240, 230, 140);
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(189, 183, 107);
    -fx-border-color: rgb(255, 0, 0);
    -fx-border-thickness: 60px;
    -fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(153, 153, 0);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-thickness: 30px;
}

.horizontal_toolbar_button {
    -fx-background-color: rgb(153, 153, 0);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-thickness: 30px;
}
