#banner {
    width:500px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    alignment-baseline: central;
}
#banner_text {
    text-align: center;
}
#headers {
    text-align: center;
    margin: auto;
}
#nav {
    text-align: center;
    height: 50px;
}
#link {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#page_title {
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#paragraph {
    width: 1000px;
    margin: auto;
    width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#footer {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#page_nav {
    text-align: left;
    width: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#content_list {
    text-align: left;
    width: 300px;
}

#page_link {
    text-decoration: none;
}
#heading {
    text-align: left;
}
#image {
    left: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 300px;
    float: right;
}
#images {
    width: 300px;
    float: right;
}
#image_content {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#video {
    left: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 840px;
    height: 630px;
}
#video_content {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#slide_img, #slide_caption, #slideshow_controls {
    width:1000px;
    padding-left: 10px;
    padding-right: 10px;  
    text-align: center;
    margin: auto;
}
#slideshow_title {
    top:0px;
    height:80px;
}
#slide_img {
    top:80px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#slide_caption {
    top:560px;
    text-align:center;
    height:50px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#slideshow_controls {
    top:610px;
    text-align:center;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}