#banner_text {
    background-color: firebrick;
    font-family: 'Sigmar One', cursive;
    font-size: 48pt;
    font-weight: bold;
}
#nav {
    background-color: firebrick;
}
#link {
    font-family: 'Artifika', serif;
    color: gold;
    font-size: 20pt;
    font-weight: bold;
    text-decoration: none;
}
#page_title {
    font-family: 'Chango', cursive;
    font-size: 32pt;
    font-weight: bold;
}
#content {
    font-family: 'Josefin Slab', serif;
    font-size: 16pt;
    line-height: 200%;
    border:10px solid #DEB887;
    background-color: lightgrey;
}
#external {
    font-family: 'Josefin Slab', serif;
    font-size: 16pt;
    font-style: italic;
    font-weight: bold;
    color: brown;
    text-decoration: none;
}
#footer {
    font-family: 'Artifika', serif;
    font-size: 14pt;
    border:2px solid;
}
#page_nav {
    font-family: 'Artifika', serif;
    color: crimson;
    font-size: 14pt;
    text-decoration: none;
    border: 2px solid darkkhaki;
}
#content_list {
    list-style-image: none;
    font-family: 'Artifika', serif;
    color: crimson;
    font-size: 14pt;
    text-decoration: none;
}
#page_link {
    font-family: 'Artifika', serif;
    color: crimson;
    font-size: 14pt;
    text-decoration: none;
}
#sub_heading {
    text-align: left;
}
#image {
    border:5px solid;
    background-color: white;
}
#images {
    width: 300px;
    float: right;
}
#image_content {
    font-family: 'Josefin Slab', serif;
    font-size: 16pt;
    line-height: 150%;
}
#image_holder {
    border: 5px solid blueviolet;
    background-color: beige;
}
#slideshow_title {
    background-color:blueviolet;
    font-size: 48pt;
    font-weight: bold;
}
#slide_caption {
    font-family: 'Josefin Slab', serif;
    font-size:20pt;
    font-weight: bold;
    background-color:blueviolet;
}
#slideshow_controls {
    background-color:blueviolet;
}
#video {
    border:5px solid;
    background-color: white
}
#student {
    font-family: 'Josefin Slab', serif;
    font-size: 24pt;
    border:5px solid;
    background-color: beige;
}

#video_content {
    font-family: 'Josefin Slab', serif;
    font-size: 16pt;
    line-height: 150%;
}